.header {
    width: 100%;
    height: 350px;
    background: rgb(4, 113, 255) url('./../../assets/images/pattern.svg') repeat;
    background-size: 50px;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;

    
}