<mat-sidenav-container>
  <mat-sidenav mode="side" align="start" #sidenav>
      Sidenav content
  </mat-sidenav>

  <div class="container">
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()" color="primary">
            <mat-icon class="mat-18">menu</mat-icon>
        </button>
        <span class="logo"></span>
        <mat-toolbar-row>
            Row2 title
        </mat-toolbar-row>
    </mat-toolbar>
  </div>
  
  
</mat-sidenav-container>
























































<!-- <div *ngIf="user; then authenticated">

</div>

<ng-template #authenticated>
  <h3>Howdy, {{ user.displayName}}</h3>
  <img [src]="user.photoURL" alt="user.email">
  <p>UID: {{user.uid}}</p>
</ng-template> -->
